.TileSlider-root {
  overflow: hidden;
  position: relative;
}

.TileSlider-container {
  display: block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.TileSlider-tile {
  display: inline-block;
  list-style-type: none;
  white-space: normal;
  box-sizing: border-box;
}

.TileSlider-emptyTile {
  box-sizing: border-box;
}
.TileSlider-emptyTile::before {
  content: '';
  display: block;
  padding-top: 56.25%;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
}

.TileSlider-leftControl {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  z-index: 1;
}

.TileSlider-rightControl {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-100%);
}

.TileSlider-dots {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 12px;
}
