.TileSlider {
    position: relative;
    overflow: hidden;
}

.TileSlider-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.TileSlider-list > li {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.TileSlider-leftControl {
    position: absolute;
    left: 1px; /* Fixes layout shifting issues when focussed on Android Talkback */
    top: 50%;
    transform: translateY(-100%);
    z-index: 1;
}

.TileSlider-rightControl {
    position: absolute;
    right: 1px;  /* Fixes layout shifting issues when focussed on Android Talkback */
    top: 50%;
    transform: translateY(-100%);
}
